<footer>
  <div class="footer__logo">
    <img src="/img/logo-white.svg" alt="Sage Street Logo">
  </div>
  <div class="footer__address">
    <strong>Visit Us</strong><br />
    9876 Pacific Road<br />
    Portland, Oregon 97202
  </div>
  <div class="footer__links">
    <strong>Links</strong>
    <ul>
      <li><a href="about">About</a></li>
      <li><a href="menu">Menu</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="products">Shop</a></li>
    </ul>
  </div>
  <div class="footer__social">
    <strong>Find us on Social Media</strong>
    <ul>
      <li><a href="www.instagram.com"><i class="fab fa-instagram"></i></a></li>
      <li><a href="www.facebook.com"><i class="fab fa-facebook"></i></a></li>
      <li><a href="www.yelp.com"><i class="fab fa-yelp"></i></a> </li>
    </ul>
  </div>
</footer>
