<header>
  <nav>
    <div class="nav__icon">
      <i class="fas fa-bars"></i>
    </div>
    <div class="nav__logo">
      <a href="/"><img src="/img/logo.svg" / alt="logo"></a>
    </div>
    <div class="nav__links">
      <ul>
        <li><a href="/about" class="hover-line">About</a></li>
        <li><a href="/menu" class="hover-line">Menu</a></li>
        <li><a href="/contact" class="hover-line">Contact</a></li>
        <li><a href="/products" class="hover-line">Shop</a></li>
      </ul>
    </div>
  </nav>
</header>
