$nav-font-family: 'Source Sans Pro', sans-serif;
$serif-font-family: 'Istok Web', sans-serif;

$theme-color-green: #879574;
$theme-color-yellow: #f0d669;
$theme-color-gray: #585858;
$theme-color-brown: #bdad91;
$userBar-bg-color: $theme-color-green;

$body-font-color: #242424;
$nav-hover-font-color: darken($theme-color-yellow, 15%);
$userBar-hover-font-color: #d0d0d0;

$max-content-width: 1280px;
