{{> header page-title="Our Story"}}
<div class="wrapper">
  <section class="about">
    <section class="about__introduction">
      <p><strong>At Sage Street, we work hard to bring you unique, handcrafted blends that'll wow you every time.</strong></p>
      <p>With our organic, fair-trade coffee beans, we brew our orders one by one so that your cup is custom tailored just for you. Our coffee is filled with love, and we hope you'll taste it too.</p>
      <div class="about__img">
        <img src="/img/holding-beans.jpg" alt="Fresh coffee beans">
      </div>
      <p><strong>Our story begins like this...</strong><p>
      <p>At the tender age of 16, Mary Chang found the perfect cup of coffee at a tiny roadside coffee shop in Taiwan--it was love at first sip. From then on, Mary fell down the rabbit-hole, becoming enamored with coffee and all of its variations. In college, she embarked on trips all around the country, taste-testing brews from all around the world in hopes of finding the perfect brews. She decided to bring these experiences home to share, incorporating all the flavors of her travels into a few key blends that offered only the boldest, smoothest, and most complex
      flavors. <br />
      These original blends led the way to the opening of the first Sage
      Street location in Portland in 2012. Today, our stores continue to grow, and we hope to continue bringing you only the best coffee we can offer.
      </p>
    </section>
    <section class="about__meet">
      <h2>Meet the Team</h2>
      <div class="about__meet-row">
        <div class="about__meet-row--left">
          <img src="/img/team-pic-4.jpg" alt="Mary Chang">
        </div>
        <div class="about__meet-row--right">
          <div class="about__meet-bio">
            <h3>Mary Chang</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
      <div class="about__meet-row">
        <div class="about__meet-row--left about__meet-pull-down">
          <div class="about__meet-bio">
            <h3>David Cooper</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
        <div class="about__meet-row--right">
            <img src="/img/team-pic-2.jpg" alt="David Cooper">
        </div>
      </div>
      <div class="about__meet-row">
        <div class="about__meet-row--left">
            <img src="/img/team-pic-3.jpg" alt="Elizabeth Yu">
        </div>
        <div class="about__meet-row--right">
          <div class="about__meet-bio">
            <h3>Elizabeth Yu</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
    </section>

  </section>
</div>
