{{> header page-title="Explore Our Menu" }}
<div class="wrapper">
  <section class="menu">
    <div class="menu-container">
      <!-- grid, 3 col -->
      <div class="menu__col menu__nav">
        <ul>
          <li class='menu__nav-drinks menu__nav-active'>Drinks</li>
          <li class='menu__nav-food'>Food</li>
        </ul>
      </div>
      <div class="menu__content menu__content-drinks menu__content-active">
        <div class="menu__col">
          <strong>The Basics</strong>
          <ul>
            <li>Americano</li>
            <li>Cappucino</li>
            <li>Cafe Latte</li>
            <li>Caramel Macchiato</li>
            <li>Drip Coffee</li>
            <li>Cold Brew Coffee</li>
            <li>Pour Over Coffee</li>
          </ul>
          <strong>Lattes</strong>
          <ul>
            <li>Mocha Latte</li>
            <li>Hazelnut Nutella Latte</li>
            <li>Mint Mocha Latte</li>
            <li>Creme Brulee Latte</li>
            <li>Golden Caramel Latte</li>
            <li>Mint Vanilla Latte</li>
            <li>Pumpkin Breeze Latte</li>
          </ul>
        </div>
        <div class="menu__col">
          <strong>Loose Leaf Teas</strong>
          <ul>
            <li>Berry Black Tea</li>
            <li>Citrus Green Tea</li>
            <li>Jasmine Tea</li>
            <li>Earl Grey Tea</li>
            <li>Blackcurrant Tea</li>
            <li>London Breakfast Tea</li>
            <li>Paris Vanilla Black Tea</li>
          </ul>
          <strong>Tea Lattes</strong>
          <ul>
            <li>Matcha Tea Latte</li>
            <li>Dirty Chai Tea Latte</li>
            <li>Rose Earl Grey Tea Latte</li>
            <li>Lavender Honey Tea Latte</li>
            <li>Chamomile Tea Latte</li>
            <li>Jasmine Tea Latte</li>
            <li>Tokyo Breakfast Black Tea Latte</li>
            <li>Peppermint Tea Latte</li>
          </ul>
        </div>
        <div class="menu__col">
          <strong>Non-Caffeinated</strong>
          <ul>
            <li>Hot Chocolate</li>
            <li>Caramel Butterscotch Brew</li>
            <li>Honey Yuzu Tea</li>
          </ul>
          <strong>Milk Alternatives</strong>
          <ul>
            <li>Soy Milk</li>
            <li>Almond Milk</li>
            <li>Rice Milk</li>
            <li>Oat Milk</li>
            <li>Macadamia Milk</li>
          </ul>
        </div>
      </div>
      <div class="menu__content menu__content-food">
        <div class="menu__col">
          <strong>Sandwiches & Paninis</strong>
          <ul>
            <li>Grilled Chicken & Arugula Panini</li>
            <li>Roast Pepper & Chicken Panini</li>
            <li>Egg Salad Sandwich</li>
            <li>Turkey Avocado Whole Wheat Sandwich</li>
            <li>Caprese Sub</li>
            <li>Egg & Ham Croissant Sandwich</li>
          </ul>
        </div>
        <div class="menu__col">
          <strong>Salads</strong>
          <ul>
            <li>Cranberry, Walnut, & Chicken Arugula Salad</li>
            <li>Chicken Caesar Salad</li>
            <li>House Special Cobb Salad</li>
            <li>Grilled Peach & Pecan Salad</li>
            <li>Green Goddess Avocado Salad</li>
          </ul>
        </div>
        <div class="menu__col">
          <strong>Freshly Baked Pastries</strong>
          <ul>
            <li>Butter Croissant</li>
            <li>Chocolate Croissant</li>
            <li>Strawberry Custard Croissant</li>
            <li>Raspberry Danish</li>
            <li>Blueberry Muffin</li>
            <li>Chocolate Heaven Muffin</li>
            <li>Assorted Cookies</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

{{#section 'script'}}
  <script src="js/menu.js"></script>
{{/section}}
