@import url("https://fonts.googleapis.com/css?family=Istok+Web:400,700|Hind|Lora|Source+Sans+Pro:400,600,700");
.user-form .submit, .checkout-form .submit, .comment-form__submit button, a.featured-products__btn, .contact-form__submit .submit, .cart-container .submit {
  font-size: 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  padding: 10px; }

.user-form input, .checkout-form input[type="text"],
.checkout-form__credit-card .credit-card, .comment-form input, textarea, .contact-form input, .contact-form__message textarea {
  font-size: 13px;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 7px;
  margin-top: 3px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  width: 100%; }
  .user-form input:focus, .checkout-form input:focus[type="text"],
  .checkout-form__credit-card .credit-card:focus, .comment-form input:focus, textarea:focus, .contact-form input:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-stroke: 0 0 0 transparent;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #3b3835;
  line-height: 1.75em;
  height: 100%; }

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 30em; }
  @media screen and (min-width: 591px) {
    body {
      padding-bottom: 12em; } }

p {
  margin: 15px 0; }

a {
  text-decoration: none;
  color: #585858; }
  a:hover {
    color: #8b8b8b; }

nav {
  height: 60px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: black;
  z-index: 1;
  font-family: 'Source Sans Pro', sans-serif; }
  @media screen and (min-width: 591px) {
    nav {
      height: 75px; } }

.nav__links {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 60px;
  z-index: 100; }
  @media screen and (min-width: 591px) {
    .nav__links {
      position: static;
      width: auto;
      margin: 12px 20px 12px 0;
      float: right; } }

.nav__links ul {
  list-style: none;
  overflow: hidden;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  width: 100%;
  max-height: 0px;
  background-color: #000; }
  @media screen and (min-width: 591px) {
    .nav__links ul {
      max-height: max-content;
      background-color: white;
      width: auto;
      max-height: auto; } }

.nav__links ul.showing {
  max-height: 20em; }

.nav__links li {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  letter-spacing: 0.18em;
  text-align: center; }
  @media screen and (min-width: 591px) {
    .nav__links li {
      display: inline-block;
      width: auto; } }

.nav__links a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.15em;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  position: relative; }
  .nav__links a:hover {
    color: #e9c323; }
  @media screen and (min-width: 591px) {
    .nav__links a {
      color: black; } }

.hover-line:after {
  content: '';
  background-color: #e9c323;
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  height: 2px;
  width: 0;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s; }

.hover-line:hover::after {
  width: 100%; }

.nav__logo {
  position: absolute;
  top: 50%;
  transform: translateY(-49%);
  left: 12px; }
  .nav__logo img {
    width: 150px;
    display: block; }
  @media screen and (min-width: 591px) {
    .nav__logo img {
      width: 165px; } }

.nav__icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  color: black;
  cursor: pointer;
  text-align: right; }
  .nav__icon i {
    margin-right: 20px;
    font-size: 24px; }
  @media screen and (min-width: 591px) {
    .nav__icon {
      display: none; } }

.userBar {
  background-color: #879574;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: white;
  overflow: auto; }

.userBar__left {
  float: left;
  display: none; }
  .userBar__left span {
    font-size: 15px;
    display: inline-block;
    padding: 6px 0px 6px 15px; }
  @media screen and (min-width: 591px) {
    .userBar__left {
      display: block; } }

.userBar__right {
  float: right; }

.userBar__logout {
  display: none; }
  @media screen and (min-width: 591px) {
    .userBar__logout {
      display: inline-block; } }

.userBar a {
  display: inline-block;
  color: white;
  padding: 6px 10px;
  text-decoration: none;
  transition: all 0.2s; }
  .userBar a i {
    padding-right: 8px; }
  .userBar a:hover {
    color: #d0d0d0; }
  @media screen and (min-width: 591px) {
    .userBar a {
      padding: 6px 15px; } }

.userBar__cart {
  background-color: #585858; }

section.decorative-header {
  background: url("/img/coffee-beans-926837.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 25vh;
  max-height: 200px;
  width: 100%;
  text-align: center;
  position: relative;
  color: white; }
  section.decorative-header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45); }
  section.decorative-header div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.page-title {
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
  letter-spacing: 0.03em; }

.page-sub-title {
  text-align: center;
  letter-spacing: 0.05em;
  margin: 10px 0;
  font-weight: 400;
  text-transform: uppercase; }

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 10px; }
  @media screen and (min-width: 591px) {
    .wrapper {
      padding: 20px; } }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #bdad91;
  color: white;
  padding: 10px 10px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  footer div {
    flex: 0 0 20%;
    margin: 10px; }
  footer ul {
    list-style: none; }
  footer a {
    text-decoration: none;
    color: white; }
  footer strong {
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  @media screen and (min-width: 591px) {
    footer {
      flex-direction: row; } }

.footer__logo {
  margin-left: 0; }
  @media screen and (min-width: 591px) {
    .footer__logo {
      margin: 15px; } }

.footer__social li {
  display: inline-block; }

.footer__social i {
  font-size: 26px;
  margin-right: 12px;
  margin-top: 5px; }

.login-container, .register-container {
  max-width: 500px;
  margin: 0 auto; }
  .login-container h1, .register-container h1 {
    text-align: center; }
  .login-container p, .register-container p {
    text-align: center; }
  .login-container .alert, .register-container .alert {
    color: red;
    margin: 5px; }

.user-form {
  max-width: 400px;
  margin: 15px auto; }

.user-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px; }

.user-form input {
  width: 100%; }

.user-form .submit {
  background-color: #879574;
  margin-top: 10px; }

.user-form .required {
  color: red; }

.checkout-form {
  max-width: 500px;
  padding: 20px;
  margin: 10px auto; }

.checkout-form fieldset {
  padding: 10px 15px 15px 15px;
  border: none; }
  .checkout-form fieldset legend {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em; }

.checkout-form fieldset > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px; }
  .checkout-form fieldset > div > .full {
    grid-column-start: span 4; }
  .checkout-form fieldset > div > .half {
    grid-column-start: span 4; }
    @media screen and (min-width: 591px) {
      .checkout-form fieldset > div > .half {
        grid-column-start: span 2; } }

.checkout-form__billing-address-same {
  margin-top: 10px;
  margin-bottom: 10px; }

.checkout-form input.required {
  background-color: #fff2f2;
  border-color: #af2f2f; }

.checkout-form input:disabled {
  background-color: #ebebeb;
  color: #a1a1a1; }

.checkout-form .submit {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #585858; }

#error-message {
  margin: 15px;
  color: red; }

.products__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 12px;
  width: 85%;
  margin: 0 auto; }

.products__item {
  grid-column-start: span 6;
  text-align: center;
  padding: 15px 5px;
  background-color: white; }
  @media screen and (min-width: 591px) {
    .products__item {
      grid-column-start: span 4; } }
  @media screen and (min-width: 1201px) {
    .products__item {
      grid-column-start: span 3; } }

.products__item-img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden; }
  .products__item-img img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.products__item-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase; }

.products__item-price {
  font-size: 18px; }

.products__item-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Istok Web', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f0d669;
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  margin-top: 15px; }
  .products__item-btn:hover {
    color: white;
    background-color: #ddb716; }

.comment-form input, textarea {
  display: block; }
  @media screen and (min-width: 591px) {
    .comment-form input, textarea {
      width: 75%; } }

.comment-form__message textarea {
  height: 150px; }

.comment-form__submit button {
  background-color: #585858; }

.comment-form .required {
  color: red; }

section:last-of-type {
  margin-bottom: 0; }

.hero {
  position: relative;
  height: calc(100vh - 70px);
  max-height: 600px;
  width: 100vw;
  background: no-repeat url("/img/coffee-690054.jpg");
  background-size: cover;
  background-position: right 75%; }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 591px) {
    .hero {
      max-height: 1000px;
      background-position: 70% 75%; } }

.headline img {
  width: 75%;
  height: 75%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }
  @media screen and (min-width: 591px) {
    .headline img {
      width: 60%;
      height: 85%;
      left: 0%;
      transform: translateY(-50%) translateX(0);
      top: 40%; } }

.hero__info {
  color: white;
  font-size: 20px;
  position: absolute;
  text-transform: lowercase;
  top: 78%;
  left: 15%;
  transform: translateY(-50%); }

.hero__btn {
  color: gray;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-align: center;
  padding: 0.4em 0.75em;
  border: 3px solid white;
  position: absolute;
  position-anchor: 50% 50%;
  top: 80%;
  left: 50%;
  transform: translateX(-50%); }
  @media screen and (min-width: 591px) {
    .hero__btn {
      font-size: calc(18px + .2vw);
      top: 80%;
      left: 22%;
      transform: translateX(0); } }
  @media screen and (min-width: 1201px) {
    .hero__btn {
      font-size: 24px; } }
  .hero__btn:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white; }

.featured-products, .recent-news, .blog-home {
  margin-bottom: 50px; }
  .featured-products h2, .recent-news h2, .blog-home h2 {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.15em; }
  .featured-products a, .recent-news a, .blog-home a {
    display: inline-block;
    text-decoration: none;
    transition: 0.5s all ease; }
    .featured-products a:hover, .recent-news a:hover, .blog-home a:hover {
      color: #585858; }

.featured-products {
  text-align: center;
  margin-top: 15px; }

.featured-products__container, .blog-home__container {
  display: grid;
  margin: 0 auto;
  width: 80%;
  grid-gap: 2%;
  grid-template-columns: repeat(9, 1fr); }

.featured-products__item, .blog-home__item {
  grid-column-start: span 9;
  margin: 15px 0;
  text-align: center; }
  .featured-products__item a, .blog-home__item a {
    color: inherit; }
  @media screen and (min-width: 591px) {
    .featured-products__item, .blog-home__item {
      grid-column-start: span 3; } }

.featured-products__item {
  padding: 15px 5px; }

.blog-home__item {
  background-color: #f9efc6;
  transition: 0.5s all ease; }
  .blog-home__item:hover {
    background-color: #f0d669; }

.featured-products__item-img, .blog-home__item-img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden; }
  .featured-products__item-img img, .blog-home__item-img img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.featured-products__item-title, .blog-home__item-title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase; }

a.featured-products__btn {
  font-size: 20px;
  margin: 0 auto;
  background-color: #f0d669; }
  a.featured-products__btn:hover {
    color: white;
    background-color: #e9c323; }

.recent-news__container {
  height: 75vh;
  max-height: 600px;
  width: 95%;
  margin: 25px auto 0 auto;
  display: flex;
  flex-direction: column; }
  .recent-news__container div {
    flex: 0 0 100%;
    height: 100%; }
  @media screen and (min-width: 591px) {
    .recent-news__container {
      flex-direction: row; }
      .recent-news__container div {
        flex: 0 0 50%;
        height: 100%; } }

.recent-news__img {
  display: none; }
  @media screen and (min-width: 591px) {
    .recent-news__img {
      display: block; }
      .recent-news__img img {
        width: 100%;
        height: 100%;
        object-fit: cover; } }

.recent-news__info {
  background-color: #c5ccbc;
  color: white;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .recent-news__info div {
    flex: 0 0 85%;
    height: 85%;
    border: 10px solid white;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .recent-news__info h3 {
    font-size: 24px;
    text-align: center; }

.blog-home__item-info {
  padding: 5px 15px 15px 15px; }

.about {
  width: 95%;
  margin: 0 auto; }
  .about h2 {
    text-align: center;
    margin: 15px;
    letter-spacing: 0.05em; }
  .about section {
    margin-bottom: 35px; }

.about strong {
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 20px;
  display: inline-block; }

.about__img {
  width: 100%;
  height: 325px; }
  .about__img img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.about__meet-row {
  height: auto;
  width: 100%;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (min-width: 591px) {
    .about__meet-row {
      margin: 0 auto; } }

.about__meet-row--left,
.about__meet-row--right {
  background-color: #e6eedf;
  height: 370px;
  width: 100%; }
  .about__meet-row--left img,
  .about__meet-row--right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 10%; }
  @media screen and (min-width: 591px) {
    .about__meet-row--left,
    .about__meet-row--right {
      flex: 0 0 calc(50% - 20px);
      margin: 10px; } }

.about__meet-bio {
  width: 100%;
  height: 100%;
  padding: 12%;
  box-sizing: border-box; }
  .about__meet-bio h3 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.12em; }

.about__meet-pull-down {
  order: 1; }
  @media screen and (min-width: 591px) {
    .about__meet-pull-down {
      order: 0; } }

.contact {
  width: 95%;
  margin: 0 auto; }

.contact .message-status {
  color: red; }

.contact-form {
  max-width: 450px;
  margin: 0 auto; }

.contact-form input, .contact-form__message textarea {
  width: 100%; }

.contact-form__message textarea {
  height: 150px;
  margin-top: 15px; }

.contact-form__submit .submit {
  background-color: #585858; }

.contact-form .required {
  color: red; }

.cart-container {
  width: 100%;
  margin: 0 auto; }

.cart-container thead {
  text-align: left;
  font-size: 20px;
  text-transform: uppercase; }

.cart-container table {
  width: 100%;
  margin-top: 15px; }

.cart-container hr {
  margin-top: 10px;
  margin-bottom: 20px; }

.cart__total-price {
  font-size: 18px; }

.cart-container a {
  text-decoration: none;
  color: inherit;
  margin-right: 5px; }
  .cart-container a i {
    font-size: 1.2em; }
  .cart-container a:hover {
    color: #6a6a6a; }

.cart-container .submit {
  background-color: #585858; }
  .cart-container .submit:hover {
    background-color: #727272;
    color: white; }

.message__empty-cart {
  margin-top: 15px;
  margin-bottom: 15px; }

.menu-container {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2;
  margin: 0 auto;
  width: 90%; }

.menu-container strong {
  text-transform: uppercase;
  letter-spacing: 0.15em; }

.menu-container .menu__nav {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 600;
  grid-column-start: span 1;
  grid-row-start: span 2;
  margin-bottom: 15px; }
  .menu-container .menu__nav ul {
    margin: 0;
    list-style: none; }
  .menu-container .menu__nav li {
    padding: 6px 10px;
    transition: 0.5s all ease; }
    .menu-container .menu__nav li:not(.menu__nav-active):hover {
      color: #f0d669; }
    @media screen and (min-width: 591px) {
      .menu-container .menu__nav li {
        margin-right: 50px; } }

.menu-container .menu__nav-active {
  color: white;
  background-color: #f0d669; }

.menu-container .menu__content {
  grid-column-start: span 3;
  display: none;
  grid-template-columns: repeat(3, 1fr); }
  .menu-container .menu__content ul {
    list-style: square;
    margin: 10px; }

.menu-container .menu__content-active {
  display: grid; }

.menu-container .menu__col {
  grid-column-start: span 4; }
  @media screen and (min-width: 591px) {
    .menu-container .menu__col {
      grid-column-start: span 1; } }

.blog-archive__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.blog-archive__item {
  grid-column-start: span 3;
  padding: 15px; }
  @media screen and (min-width: 591px) {
    .blog-archive__item {
      grid-column-start: span 1; } }

.blog-archive__item-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.02em;
  margin-top: 10px; }

.blog-archive__item-timestamp {
  font-style: italic; }

.blog-archive__item-img {
  width: 100%;
  height: 250px; }
  .blog-archive__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.blog-entry__img, .blog-entry__featured-img {
  width: 100%;
  height: 400px; }
  .blog-entry__img img, .blog-entry__featured-img img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.blog-entry__featured-img {
  margin-top: 20px; }

.blog-entry__meta {
  font-style: italic;
  margin-top: 5px; }

.comment-form, .comments {
  margin-top: 25px; }

.comments__list {
  list-style: none; }

.comments__item {
  border-bottom: 1px solid #d8d8d8;
  padding: 15px;
  margin-top: 10px; }
  .comments__item:last-of-type {
    border-bottom: none; }

.comments__item-user {
  font-weight: 700; }

.comments__item-timestamp {
  font-style: italic;
  color: #989898; }

.order-history {
  margin-top: 20px;
  list-style: none; }

.order-history__item {
  margin-top: 20px; }

.order-history__item-date {
  color: #879574;
  font-size: 22px; }

.order-history__item-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse; }
  .order-history__item-table thead, .order-history__item-table td {
    border: 1px solid #bebebe; }
  .order-history__item-table thead {
    font-weight: 700; }
  .order-history__item-table td {
    padding: 5px; }

.order-history__item-total {
  font-weight: 700; }

.success-page a {
  display: block; }
