<div class="wrapper">
  <div class="register-container">
    <h1>Create  Account</h1>
    {{#if hasErrors}}
      <div class="alert">
        {{#each messages}}
          <p>{{ this }}</p>
        {{/each}}
      </div>
    {{/if }}
    <form class="user-form" action="/register" method="post">
      <div class="user-form__email">
        <label for="email">E-mail Address <span class="required">*</span></label>
        <input type="text" id="email" name="email" >
      </div>
      <div class="user-form__password">
        <label for="">Password (at least 6 characters)<span class="required">*</span></label>
        <input type="password" id="password" name="password">
      </div>
      <div class="user-form__submit">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button class="submit" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>
