<div class="wrapper">
  <div class="success-page">
    <h2>Your order has been successfully placed. Thank you!</h2>
    <a href="/">Back to Home</a>
    <a href="/account">View Order History</a>
  </div>
</div>
